## Data Collecting

In [11]:
import pandas as pd
from alpha_vantage.timeseries import TimeSeries
import matplotlib.pyplot as plt
from alpha_api import api_key
import json
from pprint import pprint

ts = TimeSeries(key=api_key)

In [12]:
# Initialize List with the tickers of the chosen stocks
ent_stocks = ["NFLX", "ATVI", "DIS", "AMC", "HAS"] 
food_stocks = ["KO", "BUD", "PEP", "GIS", "MCD"]
ess_stocks = ["CLX", "PG", "CL", "CVS", "JNJ"]

cars_stocks = ['TSLA', 'F', 'TM', 'FUJHY', 'FCAU']
tech_stocks = ['CSCO', 'MSFT', 'AAPL', 'GOOGL', 'FB']
index_stocks = ['DJI', 'NDAQ', 'INX']

global_stocks = ["DAL", "AMZN", "EXPE", "UBER", "WMT"] 
comm_stocks = ["PEG", "TIF", "AG", "BP", "NEM"]

etf_stocks = ["CARZ", "FTXG", "XRT", "PDBC", "IYZ"]

In [13]:
#Create function to call the API and get stocks in a list of tickers
def getStockdf (stocks):
    
    # Create dictionary to store stocks with their data
    stocks_dictionary_list = {}

    # iterate through list and call the ts.get_daily() for each stock inside the stocks list and store list in the dictionary  
    for stock in stocks:
        data, meta_data = ts.get_daily(stock, outputsize="full")
        stocks_dictionary_list[stock] = data

    # intialize list 
    stock_list = []

    """We have to store info in a way that retains the name, date, and stock information in a format that can be fed into the pandas dataframe without losing it's order, so we do the below"""
    # iterate through each stocks dictionary
    for stock, value in stocks_dictionary_list.items():
        # Inside the stocks value is a dictionary with date as the key and the open-volume numbers as the dictionary, so iterate through the value dictionary
        for date, info in value.items():
            # store the date, stock, and info within the dictionary into a tuple and append to the stock_list
            stock_list.append((date, stock, info['1. open'], info['2. high'], info['3. low'], info['4. close'], info['5. volume']))

    # Store each column into a list
    dates = [date[0] for date in stock_list]
    stock = [stock[1] for stock in stock_list]
    open_s = [open_s[2] for open_s in stock_list]
    high_s = [high_s[3] for high_s in stock_list]
    low_s = [low_s[4] for low_s in stock_list]
    close_s = [close_s[5] for close_s in stock_list]
    volume_s = [volume_s[6] for volume_s in stock_list]

    # Create a dictionary with each key have its value as a list of their respective data
    final_dictionary = {'dates': dates, 'stock': stock, 'open': open_s, 'close': close_s, 'high': high_s, 'low': low_s, 'close': close_s, 'volume': volume_s}

    # store into dateframe
    raw_df = pd.DataFrame(data=final_dictionary)
    return raw_df

In [14]:
# Call getStockdf Function for Entertainment
raw_ent_df = getStockdf(ent_stocks)

In [15]:
# Create DataFrames for individual Entertainment stocks
raw_ent_df["category"] = "Entertainment"

raw_nflx_df = raw_ent_df.loc[raw_ent_df["stock"] == "NFLX"]
raw_atvi_df = raw_ent_df.loc[raw_ent_df["stock"] == "ATVI"]
raw_dis_df = raw_ent_df.loc[raw_ent_df["stock"] == "DIS"]
raw_amc_df = raw_ent_df.loc[raw_ent_df["stock"] == "AMC"]
raw_has_df = raw_ent_df.loc[raw_ent_df["stock"] == "HAS"]

In [17]:
# Call getStockdf Function for Food
raw_food_df = getStockdf(food_stocks)

In [18]:
# Create DataFrames for individual Food stocks
raw_food_df["category"] = "Food"

raw_ko_df = raw_food_df.loc[raw_food_df["stock"] == "KO"]
raw_bud_df = raw_food_df.loc[raw_food_df["stock"] == "BUD"]
raw_pep_df = raw_food_df.loc[raw_food_df["stock"] == "PEP"]
raw_gis_df = raw_food_df.loc[raw_food_df["stock"] == "GIS"]
raw_mcd_df = raw_food_df.loc[raw_food_df["stock"] == "MCD"]

In [19]:
# Call getStockdf Function for Essentials
raw_ess_df = getStockdf(ess_stocks)

In [20]:
# Create DataFrames for individual Essentials stocks
raw_ess_df["category"] = "Essentials"

raw_clx_df = raw_ess_df.loc[raw_ess_df["stock"] == "CLX"]
raw_pg_df = raw_ess_df.loc[raw_ess_df["stock"] == "PG"]
raw_cl_df = raw_ess_df.loc[raw_ess_df["stock"] == "CL"]
raw_cvs_df = raw_ess_df.loc[raw_ess_df["stock"] == "CVS"]
raw_jnj_df = raw_ess_df.loc[raw_ess_df["stock"] == "JNJ"]

In [21]:
# Call getStockdf Function for Cars
raw_cars_df = getStockdf(cars_stocks)

In [22]:
# Create DataFrames for individual Cars stocks
raw_cars_df["category"] = "Cars"

raw_tsla_df = raw_cars_df.loc[raw_cars_df["stock"] == "TSLA"]
raw_f_df = raw_cars_df.loc[raw_cars_df["stock"] == "F"]
raw_tm_df = raw_cars_df.loc[raw_cars_df["stock"] == "TM"]
raw_fujhy_df = raw_cars_df.loc[raw_cars_df["stock"] == "FUJHY"]
raw_fcau_df = raw_cars_df.loc[raw_cars_df["stock"] == "FCAU"]

In [23]:
# Call getStockdf Function for Tech
raw_tech_df = getStockdf(tech_stocks)

In [24]:
# Create DataFrames for individual Tech stocks
raw_tech_df["category"] = "Tech"

raw_csco_df = raw_tech_df.loc[raw_tech_df["stock"] == "CSCO"]
raw_msft_df = raw_tech_df.loc[raw_tech_df["stock"] == "MSFT"]
raw_aapl_df = raw_tech_df.loc[raw_tech_df["stock"] == "AAPL"]
raw_googl_df = raw_tech_df.loc[raw_tech_df["stock"] == "GOOGL"]
raw_fb_df = raw_tech_df.loc[raw_tech_df["stock"] == "FB"]

In [25]:
# Call getStockdf Function for Global
raw_global_df = getStockdf(global_stocks)

In [26]:
# Create DataFrames for individual Global stocks
raw_global_df["category"] = "Global"

raw_dal_df = raw_global_df.loc[raw_global_df["stock"] == "DAL"]
raw_amzn_df = raw_global_df.loc[raw_global_df["stock"] == "AMZN"]
raw_expe_df = raw_global_df.loc[raw_global_df["stock"] == "EXPE"]
raw_uber_df = raw_global_df.loc[raw_global_df["stock"] == "UBER"]
raw_wmt_df = raw_global_df.loc[raw_global_df["stock"] == "WMT"]

In [29]:
# Call getStockdf Function for Commodities
raw_comm_df = getStockdf(comm_stocks)

In [30]:
# Create DataFrames for individual Commodities stocks
raw_comm_df["category"] = "Commodities"

raw_peg_df = raw_comm_df.loc[raw_comm_df["stock"] == "PEG"]
raw_tif_df = raw_comm_df.loc[raw_comm_df["stock"] == "TIF"]
raw_ag_df = raw_comm_df.loc[raw_comm_df["stock"] == "AG"]
raw_nem_df = raw_comm_df.loc[raw_comm_df["stock"] == "NEM"]
raw_bp_df = raw_comm_df.loc[raw_comm_df["stock"] == "BP"]

In [31]:
# Call getStockdf Function for ETFs
raw_etf_df = getStockdf(etf_stocks)

In [32]:
# Create DataFrames for individual ETFs
raw_etf_df["category"] = "ETF"

raw_carz_df = raw_etf_df.loc[raw_etf_df["stock"] == "CARZ"]
raw_ftxg_df = raw_etf_df.loc[raw_etf_df["stock"] == "FTXG"]
raw_xrt_df = raw_etf_df.loc[raw_etf_df["stock"] == "XRT"]
raw_pdbc_df = raw_etf_df.loc[raw_etf_df["stock"] == "PDBC"]
raw_iyz_df = raw_etf_df.loc[raw_etf_df["stock"] == "IYZ"]

In [36]:
raw_iyz_df

            dates stock     open    close     high      low  volume category
7928   2020-03-27   IYZ  24.7900  24.7200  25.3000  24.4401  226354      ETF
7929   2020-03-26   IYZ  24.1700  25.3700  25.5700  24.0800  576664      ETF
7930   2020-03-25   IYZ  23.7700  23.8600  24.8200  23.4400  493489      ETF
7931   2020-03-24   IYZ  23.8100  24.0000  24.0400  23.1300  574937      ETF
7932   2020-03-23   IYZ  23.0900  22.6500  23.3200  22.0600  596897      ETF
...           ...   ...      ...      ...      ...      ...     ...      ...
12913  2000-06-02   IYZ  60.5600  60.5600  60.5600  60.5600     800      ETF
12914  2000-06-01   IYZ  58.0000  59.3100  59.3100  58.0000    2200      ETF
12915  2000-05-31   IYZ  58.1900  58.1900  58.1900  58.1900    1600      ETF
12916  2000-05-30   IYZ  57.6900  57.6900  57.6900  57.6900     200      ETF
12917  2000-05-26   IYZ  56.0000  56.0000  56.0000  56.0000     500      ETF

[4990 rows x 8 columns]

In [37]:
# Call getStockdf Function for Indeces
raw_index_df = getStockdf(index_stocks)

In [38]:
# Create DataFrames for individual Indeces
raw_index_df["category"] = "Index"

raw_dji_df = raw_index_df.loc[raw_index_df["stock"] == "DJI"]
raw_ndaq_df = raw_index_df.loc[raw_index_df["stock"] == "NDAQ"]
raw_inx_df = raw_index_df.loc[raw_index_df["stock"] == "INX"]

In [41]:
df_list = [raw_nflx_df, raw_atvi_df, raw_dis_df, raw_amc_df, raw_has_df, 
           raw_ko_df, raw_bud_df, raw_pep_df, raw_gis_df, raw_mcd_df, 
           raw_clx_df, raw_pg_df, raw_cl_df, raw_cvs_df, raw_jnj_df,
           raw_tsla_df, raw_f_df, raw_tm_df, raw_fujhy_df, raw_fcau_df,
           raw_csco_df, raw_msft_df, raw_aapl_df, raw_googl_df, raw_fb_df,
           raw_dal_df, raw_amzn_df, raw_expe_df, raw_uber_df, raw_wmt_df, 
           raw_peg_df, raw_tif_df, raw_ag_df, raw_nem_df, raw_bp_df,
           raw_carz_df, raw_ftxg_df, raw_xrt_df, raw_pdbc_df, raw_iyz_df,
           raw_dji_df, raw_ndaq_df, raw_inx_df]

for x in range (len(df_list)):
    df_list[x] = df_list[x].iloc[0:291]
    
full_df = pd.concat(df_list, sort=False)

In [42]:
full_df

,dates,stock,open,close,high,low,volume,category
0,2020-03-27,NFLX,359.0900,357.1200,368.5600,353.0000,7922664,Entertainment
1,2020-03-26,NFLX,344.0000,362.9900,363.8400,341.7300,7235016,Entertainment
2,2020-03-25,NFLX,361.0200,342.3900,362.0000,339.1700,8767171,Entertainment
3,2020-03-24,NFLX,369.9900,357.3200,372.9300,353.0301,11638683,Entertainment
4,2020-03-23,NFLX,347.8900,360.2700,366.1100,340.8838,13449378,Entertainment
...,...,...,...,...,...,...,...,...
9844,2019-02-07,INX,2717.5300,2706.0500,2719.3201,2687.2600,4099490000,Index
9845,2019-02-06,INX,2735.0500,2731.6101,2738.0801,2724.1499,3472690000,Index
9846,2019-02-05,INX,2728.3401,2737.7000,2738.9800,2724.0300,3560430000,Index
9847,2019-02-04,INX,2706.4900,2724.8701,2724.9900,2698.7500,3359840000,Index
9848,2019-02-01,INX,2702.3201,2706.5300,2716.6599,2696.8799,3759270000,Index

In [43]:
full_df.to_csv('full_df.csv', encoding='utf-8', index=False, header=True)

In [44]:
df_list_2008 = [raw_ko_df, raw_bud_df, raw_pep_df, raw_gis_df, raw_mcd_df,
           raw_tsla_df, raw_f_df, raw_tm_df, raw_fujhy_df, raw_fcau_df,
           raw_peg_df, raw_tif_df, raw_ag_df, raw_nem_df, raw_bp_df,
           raw_dji_df, raw_ndaq_df, raw_inx_df]

for x in range (len(df_list_2008)):
    df_list_2008[x] = df_list_2008[x].iloc[2769:3023]
    
full_2008_df = pd.concat(df_list_2008, sort=False)

In [45]:
full_2008_df.to_csv('full_2008_df.csv', encoding='utf-8', index=False, header=True)